<section id="{{ section.section_id }}" class="page-section {{ section.background_style }}">
  <div class="container">
    <h2 class="text-center mt-0">{{ section.title }}</h2>
    <hr class="divider my-4">
    <div class="d-grid">
      <div class="left_section p-4 {{ section.left_section.background_style }}">
        <div class="text-white m-2">
          {% for agrement in section.left_section.agrements %}
            <div class="">
              <span class="bolder-text">{{agrement.name}}</span> | </span>{{agrement.number}}</span>
              <hr class="thin my-3">
            </div>
          {% endfor %}
        </div>
        <hr class="light fat my-4">
        <div class="text-white">
          {% for info in section.left_section.informations %}
          <div class="mt-4">
            <span class="bolder-text">{{info.name}}</span> | <span>{{info.text}}</span>
          </div>
          {% endfor %}
        </div>
      </div>


      <div class="right_section text-center p-4 {{ section.right_section.background_style }}">
        <img class="w-90" src="assets/img/{{section.right_section.logo_cnaps}}" alt="">
        <img class="w-100 mt-4" src="assets/img/{{section.right_section.logo_alfa}}" alt="">
      </div>
    </div>
  </div>
</section>
