<form action="https://formspree.io/f/xjvpeboq" method="POST" id="contact-form">
  <p>Votre contact</p>
  <input class="form-control" type="text" name="nom" placeholder="Nom Prénom">
  <input type="text" class="form-control"  name="entreprise" placeholder="Entreprise (si applicable)">
  <input type="text" class="form-control" name="telephone" placeholder="Téléphone">
  <input type="text" class="form-control" name="_replyto" placeholder="Email">

  <textarea name="message" class="form-control" rows=6 placeholder="Message pour Consulting Recherches Privées"></textarea>


  <!-- your other form fields go here -->

  <button type="submit" class="btn btn-success w-100">Envoyer</button>
</form>
