<section class="page-section"
         id="{{ section.section_id }}">
  <div class="container {{ section.background_style }}">
    <h2 class="text-center text-white mt-0">{{ section.title }}</h2>
    <hr class="divider my-4">
    <div class="row justify-content-evenly">
      <!-- {#% assign cols = section.services.size | at_most: 4 %#} -->
      <!-- {% assign cols = section.services.size %} -->
      <!-- {% if cols > 4 %}
        {% assign cols = 4 %}
      {% endif %} -->
      <!-- {% assign cols = 2 %}

      {% assign colsL = 12 | divided_by: cols %}
      {% assign colsM = colsL | times: 2 %} -->

      {% for categorie in section.categories %}
      <div class="col-lg-5 col-md-12 mt-5 {{ categorie.background_style }}">
        <div class="p-5">
          <div class="mb-3 text-center">
            <i class="fas fa-4x {{ categorie.icon }} text-white mb-4"></i>

            {% if categorie.background_style == 'bg-electric' %}
              {% assign textstyle = "text-primary" %}
            {% else %}
              {% assign textstyle = "text-success" %}

            {% endif %}
            <h3 class="mb-2 {{textstyle}}">{{ categorie.title }}</h3>
            <h5 class="text-white">{{ categorie.subtitle }}</h4>
          </div>

          {% for prestation in categorie.prestations %}
          <div class="text-white mb-0 text-left">
            {{ prestation.name | markdownify }}
          </div>
          {% endfor %}

        </div>
        <div>
          <img class="logo-prestations" src="assets/img/prestations/{{ categorie.logo }}" alt="">
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="mt-5 text-center">
      <h4 class="text-white mb-4">Pour tout autre demande</h4>
      {% if page.header.action %}
      <a class="btn btn-secondary js-scroll-trigger" href="{{ page.header.action.url }}">{{ page.header.action.label }}</a>
      {% endif %}
    </div>
  </div>
</section>
