#contact-form {

  .form-control {
    // border-color: #0c1526;
    background-color: rgba(6, 7, 35, 0.12);
    margin-bottom: 24px;
    padding: 12px 24px;
    border-radius: 4px;
    color: $darkest-blue;
  }
}
