.parallax-container {
  background-image: linear-gradient(148deg, rgba(53,57,60,0.5) 60%, rgba(41,87,113,0.7) 95%), url("../img/aigle.jpg");
  height: min-content;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
