#agrements {
  .d-grid {
    display: grid;
    grid-column-gap: 30px;
    grid-template: 1fr / 59% 41%;
  }

  .right_section {
    box-shadow: 0 4px 21px 0 rgba(79,80,90,.12);
  }

  .bolder-text {
    line-height: 26px;
    font-weight: 500;
  }
}
