---
---

@charset "utf-8";

$darkest-blue: #0F2B4D;
$dark-blue: #30609A;
$electric-blue:#5D9DEA;
$menu-blue: #4F81BD;
$roboto:'Roboto', sans-serif;
$heebo: 'Heebo', sans-serif;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "member-box",
        "timeline",
        "page",
        "icons",
        "buttons",
        "backgrounds",
        "hero_banner",
        "navbar",
        "agrements",
        "ceo",
        "contacts",
        "form",
        "parallax"
;
